# Build artifacts
build/
Debug/
Release/
bin/
obj/
compile_commands.json
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Eclipse / STM32CubeIDE temporary files
.metadata/
*.log

# Editor directories
.cache/
.vscode/.browse.c_cpp.db*
.idea/
cmake-build-*/
